<head>
    {%load static %}
    {% block javascript %}  {% endblock javascript%}
    <title> {%block title%} Title to Replace {%endblock title%}</title>
</head>

<header> 
    <nav> 
        <img src = "{% static 'images\\MetroLogo.png' %}" style = "max-width: 5%; max-height: auto; float: left">
        <h1>Metro Alarm</h1> 
        <br>
        <hr>
    </nav>
</header>

<section class = "title" style = "text-align: center; font-size: 400%"> 
    {%block content_title%}<h1>Metro Alarm</h1>{%endblock content_title%}
</section>

<section class = "content" style = "text-align: center;">
    {%block content%}<p>content</p>{%endblock content%}
</section>

<footer>
    <hr>
    <p style = "float: left">©Copyright 2096</p>  <p style = "float: right">Contact Us!</p>
</footer>